body {
   background-color: bisque;
   opacity: 1;
}
#loginSection {
   text-align: center;
   margin-bottom: 15px;
}
#loginSection button {
   background-color: rgb(7, 165, 67);
   border: 3px solid rgb(15, 20, 20);
   border-radius: 25px;
   margin-top: 20px;
   cursor: pointer;
   font-family: cursive;
   font-weight: bold;
   font-size: 16px;
   width: 85px;
   height: 45px;
   transition: 200ms;
}
#loginSection button:hover {
   font-size: 15px;
   width: 90px;
   height: 50px;
   margin-top: 10px;
   background-color: rgb(40, 230, 40);
   transition: 200ms;
}
#loginBtn {
   margin-right: 5px;
}
#signInBtn {
   margin-left: 5px;
}
#loginBtn1 {
   margin-right: 8px;
}
#cancelBtn {
   margin-left: 8px;
}
#formBtn {
   position: absolute;
   left: 50%;
   top: 33%;
   transform: translate(-50%, -50%);
}
#formBtn button {
   margin-top: 20px;
   width:105px;
   height: 55px;
   position: relative;
   background-color: greenyellow;
   font-family: cursive;
   font-weight: bold;
   font-size: 18px;
   cursor: pointer;
   border: solid 2px;
   border-radius: 4px;
}
#loginForm {
   width: 400px;
   height: 300px;
   margin: auto;
   border: 3px solid black;
   border-radius: 5%;
   background-color: darksalmon;
   background-size: cover;
   z-index: 2;
}
#lblUser {
   font-family: cursive;
   font-weight: bold;
   font-size: 15px;
   margin-left: 75px;
}
#lblPass {
   font-family: cursive;
   font-weight: bold;
   font-size: 15px;
   margin-left: 75px;
}
#lblConfPass {
   font-family: cursive;
   font-weight: bold;
   font-size: 15px;
   margin-left: 55px;
   display: none;
}
#userInput {
   margin-top: 40px;
   margin-left: 10px;
   width: 155px;
}
#passInput {
   margin-top: 40px;
   margin-left: 10px;
   width: 155px;
}
#confPassInput {
   margin-top: 40px;
   margin-left: 10px;
   width: 115px;
}
#headline{
   width: 50%;
   margin-bottom: 20px;
   margin-top: 25px;
}
#footline{
   width: 50%;
   margin-top: 20px;
}
#playZone {
   display: flex;
   flex-direction: column;
}
#playZone section {
   max-width: fit-content;
   position: relative;
   height: 0;
   bottom: 695px;
   left: 340px;
}
#playCanvas {
   margin: auto;
   display: none;
   border: 3px solid black;
   border-radius: 5%;
   background-image: url("images/background.png");
   background-size: cover;
}
#menu {
   font-family: cursive;
   font-weight: bold;
   position: relative;
   width: 1200px;
   height: 700px;
   margin: auto;
   border: 3px solid black;
   border-radius: 5%;
   background-image: url("images/background.png");
   background-size:cover;
   text-align: center;
   z-index: 0;
}
#menu h3{
   display: none;
}
#gameTitle {
   color: rgb(248, 175, 39);
   font-size: 90px;
   margin-top: 150px;
   text-align: center;
   -webkit-text-stroke: 3px black;
}
#playBtn {
   background-color: rgb(7, 165, 67);
   border: 3px solid rgb(15, 20, 20);
   border-radius: 25px;
   cursor: pointer;
   font-family: cursive;
   font-weight: bold;
   font-size: 20px;
   margin-top: 30px;
   width: 125px;
   height: 50px;
   transition: 200ms;
}
#playBtn:hover {
   font-size: 25px;
   width: 135px;
   height: 60px;
   margin-top: 23px;
   background-color: rgb(40, 230, 40);
   transition: 200ms;
}
#storeBtn {
   background-color: rgb(7, 165, 67);
   border: 3px solid rgb(15, 20, 20);
   border-radius: 25px;
   cursor: pointer;
   font-family: cursive;
   font-weight: bold;
   font-size: 20px;
   margin-top: 30px;
   width: 125px;
   height: 50px;
   transition: 200ms;
}
#storeBtn:hover {
   font-size: 25px;
   width: 135px;
   height: 60px;
   margin-top: 23px;
   background-color: rgb(40, 230, 40);
   transition: 200ms;
}
#soundBtn {
   width: 80px;
   height: 80px;
   background-image: url("images/sound_on.png");
   background-size: cover;
   background-color: transparent;
   font-family: cursive;
   font-weight: bold;
   cursor: pointer;
   position: absolute;
   left: 345px;
   bottom: 135px;
   border: none;
   display: block;
}
#pauseBtn {
   width: 60px;
   height: 60px;
   background-image: url("images/pause_btn.png");
   background-size: cover;
   background-color: transparent;
   cursor: pointer;
   font-family: cursive;
   font-weight: bold;
   display: none;
}
#resumeBtn {
   width: 60px;
   height: 60px;
   background-image: url("images/resume_btn.png");
   background-size: cover;
   background-color: transparent;
   font-family: cursive;
   font-weight: bold;
   cursor: pointer;
   display: none;
}