body {   
   background-image: linear-gradient(to bottom right, black, rgb(99, 98, 98));
   margin: 0;
   font-family: cursive;
}
main{
   position: relative;
   transition: opacity 300ms;
}
main hr{
   width: 60%;
   padding: 2.5px;
   background-color: rgb(199, 202, 6);
   border: none;
   border-radius: 100%;
}
header{
   text-align: center;
}
header input:checked ~ #loginForm{
   border: 5px solid rgb(143, 142, 142);
   top: 300px;
}
#loginBtn:checked ~ #loginForm {
   height: 242px;
}
#signUpBtn:checked ~ #loginForm {
   height: 330px;
}
#loginBtn:checked + button{
   width: 12vw;
   background-color: rgb(35, 250, 100);
   color: black;
   border: 3px solid black;
}
#signUpBtn:checked + button{
   width: 12vw;
   background-color: rgb(35, 250, 100);
   color: black;
   border: 3px solid black;
}
#loginForm{
   position: absolute;
   min-width: 360px;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
   width: 20vw;
   top: 0;
   height: 0;
   border-radius: 10%;
   background-color: rgb(32, 32, 32);
   border: 0 solid rgb(143, 142, 142);
   z-index: 5;
   transition: all 700ms;
   overflow: hidden;
}
#loginForm button {
   width:105px;
   height: 40px;
   font-family: cursive;
   font-weight: bold;
   font-size: 20px;
   padding-bottom: 0;
   margin-top: 0;
   cursor: pointer;
   color: black;
   border: solid 2px rgb(192, 192, 192);
   border-radius: 15px;
}
#signInBtn {
   margin-right: 8px;
   background-color:rgb(50, 145, 37);
   transition: background-color 300ms;
}
#cancelBtn {
   margin-left: 8px;
   background-color: rgb(167, 63, 44);
   transition: background-color 300ms;
}
#signInBtn:hover {
   background-color:rgb(30, 255, 0);
   border: solid 3px white;
}
#cancelBtn:hover {
   background-color: rgb(255, 38, 0);
   border: solid 3px white;
}
#loginForm label{
   font-weight: bold;
   font-size: 20px;
   color: rgb(162, 233, 171);
}
#lblConfPass{
   overflow: hidden;
   display: block;
   height: 0;
   opacity: 0;
   transition: all 500ms;
}
#chbxConfPass:checked ~ #lblConfPass{
   height: 84px;
   opacity: 1;
}
.input{
   outline: 0;
   min-width: 160px;
   width: 12vw;
   height: 4vh;
   border: 3px solid cyan;
   border-radius: 50px;
   margin-bottom: 10px;
   text-align: center;
   font-family: cursive;
   font-size: 20px;
   color: wheat;
   background-color:transparent;
}
#headline{
   margin-bottom: 20px;
   margin-top: 25px;
}
#Forms {
   flex-direction: column;
   width: fit-content;
   height: 73vh;
   border: 3px solid rgb(255, 255, 255);
   border-radius: 5%;
   margin: auto;
   overflow: hidden;
}
#menu {
   font-weight: bold;
   position: relative;
   width: 65vw;
   height: 73vh;
   margin: auto;
   background-image: url("images/background.png");
   background-size: cover;
   text-align: center;
   transition: height 700ms;
}
#menu button{
   min-width: 125px;
   background-color: rgba(60, 255, 0, 0.411);
   border: 3px solid rgb(15, 20, 20);
   border-radius: 25px;
   cursor: pointer;
   font-family: cursive;
   font-weight: bold;
   font-size: 20px;
   width: 7vw;
   height: 5vh;
   transition: 200ms;
}
#menu button:hover{
   width: 8vw;
   background-color: rgb(0, 255, 0);
   transition: 200ms;
}
#store {
   font-weight: bold;
   position: relative;
   width: 65vw;
   height: 73vh;
   margin: auto;
   background-image: url("images/store1.png");
   background-size:cover;
}
#storeBtn:checked ~ #menu {
   height: 0;
}
#gameTitle {
   color: rgb(248, 70, 39);
   font-size: 90px;
   margin-top: 0;
   margin-bottom: 40px;
   padding-top: 150px;
   text-align: center;
   -webkit-text-stroke: 3px black;
}
#menu h3{
   display: none;
}

#footline{
   margin-top: 20px;
}
#playZone {
   position: relative;
}
#playZone div{
   position: absolute;
   top: 2vh;
   left: 18vw;
   width: 60px;
   height: 60px;
   background-image: url("images/pause_btn.png");
   background-size: cover;
   background-color: transparent;
   cursor: pointer;
   font-family: cursive;
   font-weight: bold;
   display: none;
}
#backStore {
   width: 60px;
   height: 60px;
   background-image: url("images/back.png");
   background-size: cover;
   background-color: transparent;
   position: absolute;
   top: 1vw;
   left: 2vh;
   border: none;
   cursor: pointer;
   display: block;
}
#playCanvas {
   min-width: 470px;
   image-rendering:auto;
   width: 65vw;
   height: 73vh;
   margin: auto;
   display: none;
   border: 3px solid rgb(255, 255, 255);
   border-radius: 5%;
   background-image: url("images/background.png");
   background-size: cover;
   z-index: -1;
}
#soundBtn {
   width: 80px;
   height: 80px;
   background-image: url("images/sound_off.png");
   background-size: cover;
   background-color: transparent;
   cursor: pointer;
   position: absolute;
   left: 18vw;
   bottom: 3vh;
   border: none;
   display: block;
}
footer{
   text-align: center;
   font-family: cursive;
   color: white;
}
.btnLog-Sign{
   min-width: 120px;
   background-color: transparent;
   border: 3px solid rgb(2, 227, 243);
   border-radius: 25px;
   margin-top: 15px;
   width: 10vw;
   cursor: pointer;
   color: rgb(211, 248, 245);
   font-family: cursive;
   font-weight: bold;
   font-size: 25px;
   transition: all 300ms;
}
.btnLog-Sign:hover{
   width: 12vw;
   background-color: rgb(21, 163, 64);
   color: black;
   border: 3px solid black;
}
.noDisplay {
   display: none;
}
#myWolf {
   left: 175px;
   top: 150px;
}
#myCactus {
   left: 350px;
   top: 150px;
}
#myBear {
   left: 525px;
   top: 150px;
}
.animate {
   transition: all 0.1s;
   -webkit-transition: all 0.1s;
}

.action-button {
   position: relative;
   padding: 10px 40px;
   margin: 0 10px 10px 0;
   float: left;
   border-radius: 10px;
   font-family: cursive;
   font-size: 25px;
   color: black;
   text-decoration: none;
}
.red {
   background-color: #E74C3C;
   border-bottom: 5px solid #BD3E31;
   text-shadow: 0 -2px #BD3E31;
}
.green {
   background-color: #82BF56;
   border-bottom: 5px solid #669644;
   text-shadow: 0 -2px #669644;
}
.yellow {
   background-color: #F2CF66;
   border-bottom: 5px solid #D1B358;
   text-shadow: 0 -2px #D1B358;
}

.action-button:active {
   transform: translate(0px,5px);
   -webkit-transform: translate(0px,5px);
   border-bottom: 1px solid;
}
.cactusBorder {
   width: 300px;
   height: 350px;
   background-size: 300px 350px;
   background-repeat: no-repeat;
   background-image: url("images/cactusBorder.png");
   background-color: transparent;
   position: absolute;
   top: 230px;
   left: 90px;
   display: block;
}
.cactusBorder1 {
   width: 300px;
   height: 350px;
   background-size: 300px 350px;
   background-repeat: no-repeat;
   background-image: url("images/cactusBorder.png");
   background-color: transparent;
   position: absolute;
   top: 230px;
   left: 435px;
   display: block;
}
.cactusBorder2 {
   width: 300px;
   height: 350px;
   background-size: 300px 350px;
   background-repeat: no-repeat;
   background-image: url("images/cactusBorder.png");
   background-color: transparent;
   position: absolute;
   top: 230px;
   left: 775px;
   display: block;
}
.myIcon {
   width: 180px;
   height: 220px;
   margin-left: 68px;
   margin-top: 95px;
}
#btnImage1 {
   width: 120px;
   height: 40px;
   top: 600px;
   left: 195px;
   position: absolute;
   background-color: gold;
   border-radius: 20px;
   font-size: 16px;
   font-family: cursive;
   font-weight: bold;
   cursor: pointer;
   transition: 800ms;
   border: 3px solid black;
}
#btnImage1:hover {
   background-color: lightgreen;
}
#btnImage2 {
   width: 120px;
   height: 40px;
   top: 600px;
   left: 545px;
   position: absolute;
   background-color: gold;
   border-radius: 20px;
   font-size: 16px;
   font-family: cursive;
   font-weight: bold;
   cursor: pointer;
   transition: 800ms;
   border: 3px solid black;
}
#btnImage2:hover {
   background-color: lightgreen;
}
#btnImage3 {
   width: 120px;
   height: 40px;
   top: 600px;
   left: 885px;
   position: absolute;
   background-color: gold;
   border-radius: 20px;
   font-size: 16px;
   font-family: cursive;
   font-weight: bold;
   cursor: pointer;
   transition: 800ms;
   border: 3px solid black;
}
#btnImage3:hover {
   background-color: lightgreen;
}
.wolfIcon {
   display: block;
}
.cactusIcon {
   display: none;
}
.bearIcon {
   display: none;
}
#totalCoin {
   width: 50px;
   height: 50px;
   position: absolute;
   top: 35px;
   left: 160px;
}
#totalCoin2 {
   top: 22px;
   left: 220px;
   font-weight: bold;
   font-family: cursive;
   font-size: 22px;
   color: red;
   background-color: transparent;
   position: absolute;
}
#iconGold1 {
   width: 50px;
   height: 50px;
   position: absolute;
   top: 595px;
   left: 135px;
}
#iconGold2 {
   width: 50px;
   height: 50px;
   position: absolute;
   top: 595px;
   left: 485px;
}
#iconGold3 {
   width: 50px;
   height: 50px;
   position: absolute;
   top: 595px;
   left: 825px;
}