body {
   background-image: linear-gradient(to bottom right, black, rgb(161, 161, 161));
   text-align: center;
}
main{
   position: relative;
   transition: opacity 300ms;
}
main hr{
   width: 60%;
   padding: 2.5px;
   background-color: rgb(199, 202, 6);
   border: none;
   border-radius: 100%;
}
.noDisplay {
   display: none;
}
header input:checked ~ #loginForm{
   border: 5px solid rgb(143, 142, 142);
   top: 250px;
}
#loginBtn:checked ~ #loginForm {
   height: 242px;
}
#signUpBtn:checked ~ #loginForm {
   height: 330px;
}
#storeBtn:checked ~ #menu {
   height: 0;
   border: none;
}
#loginBtn:checked + button{
   width: 12vw;
   background-color: rgb(35, 250, 100);
   color: black;
   border: 3px solid black;
}
#signUpBtn:checked + button{
   width: 12vw;
   background-color: rgb(35, 250, 100);
   color: black;
   border: 3px solid black;
}
.btnLog-Sign{
   min-width: 120px;
   background-color: transparent;
   border: 3px solid rgb(2, 227, 243);
   border-radius: 25px;
   margin-top: 15px;
   width: 10vw;
   cursor: pointer;
   color: rgb(211, 248, 245);
   font-family: cursive;
   font-weight: bold;
   font-size: 25px;
   transition: all 300ms;
}
.btnLog-Sign:hover{
   width: 12vw;
   background-color: rgb(21, 163, 64);
   color: black;
   border: 3px solid black;
}
#loginForm{     /*loginForm*/
   position: absolute;
   min-width: 360px;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
   width: 20vw;
   top: 0;
   height: 0;
   border-radius: 10%;
   background-color: rgb(32, 32, 32);
   border: 0 solid rgb(143, 142, 142);
   z-index: 1;
   transition: all 700ms;
   overflow: hidden;
}
#loginForm button {
   width:105px;
   height: 40px;
   font-family: cursive;
   font-weight: bold;
   font-size: 20px;
   padding-bottom: 0;
   margin-top: 0;
   cursor: pointer;
   color: black;
   border: solid 2px rgb(192, 192, 192);
   border-radius: 15px;
}
#signInBtn {
   margin-right: 8px;
   background-color:rgb(50, 145, 37);
   transition: background-color 300ms;
}
#cancelBtn {
   margin-left: 8px;
   background-color: rgb(167, 63, 44);
   transition: background-color 300ms;
}
#signInBtn:hover {
   background-color:rgb(30, 255, 0);
   border: solid 3px white;
}
#cancelBtn:hover {
   background-color: rgb(255, 38, 0);
   border: solid 3px white;
}
#loginForm label{
   font-family: cursive;
   font-weight: bold;
   font-size: 20px;
   color: rgb(162, 233, 171);
}
#lblConfPass{
   overflow: hidden;
   display: block;
   height: 0;
   opacity: 0;
   transition: all 500ms;
}
#chbxConfPass:checked ~ #lblConfPass{
   height: 84px;
   opacity: 1;
}
.input{
   outline: 0;
   min-width: 160px;
   width: 12vw;
   height: 4vh;
   border: 3px solid cyan;
   border-radius: 50px;
   margin-bottom: 10px;
   text-align: center;
   font-family: cursive;
   font-size: 20px;
   color: wheat;
   background-color:transparent;
}
#headline{
   margin-bottom: 20px;
   margin-top: 25px;
}
#twoForms {
   width: 65vw;
   height: 73vh;
   position: relative;
   border: 3px solid rgb(255, 255, 255);
   border-radius: 5%;
   margin: auto;
   overflow: hidden;
   display: grid;
}
#menu {
   font-family: cursive;
   font-weight: bold;
   position: relative;
   width: 65vw;
   height: 73vh;
   margin: auto;
   background-image: url("images/background.png");
   background-size: cover;
   text-align: center;
   transition: all 900ms;
}
#store {
   font-family: cursive;
   font-weight: bold;
   position: relative;
   width: 65vw;
   height: 73vh;
   margin: auto;
   background-image: url("images/store.jpg");
   background-size:cover;
   text-align: center;
}
#gameTitle {
   color: rgb(248, 175, 39);
   font-size: 90px;
   margin-top: 150px;
   text-align: center;
   -webkit-text-stroke: 3px black;
}
#menu h3{
   display: none;
}
#menu button{
   min-width: 125px;
   background-color: rgba(60, 255, 0, 0.411);
   border: 3px solid rgb(15, 20, 20);
   border-radius: 25px;
   cursor: pointer;
   font-family: cursive;
   font-weight: bold;
   font-size: 20px;
   margin-top: 30px;
   width: 7vw;
   height: 5vh;
   transition: 200ms;
}
#menu button:hover{
   font-size: 25px;
   width: 8vw;
   height: 6vh;
   margin-top: 21px;
   background-color: rgb(0, 255, 0);
   transition: 200ms;
}
#footline{
   margin-top: 20px;
}
#playZone section {
   position: relative;
   height: 0;
   bottom: 72vh;
   left: 17vw;
}
#playZone section div{
   width: 60px;
   height: 60px;
   background-image: url("images/pause_btn.png");
   background-size: cover;
   background-color: transparent;
   cursor: pointer;
   font-family: cursive;
   font-weight: bold;
   display: none;
}
#backStore {
   width: 60px;
   height: 60px;
   background-image: url("images/back.png");
   background-size: cover;
   background-color: transparent;
   position: absolute;
   top: 1vw;
   left: 2vh;
   border: none;
   cursor: pointer;
   display: block;
}
#playCanvas {
   min-width: 470px;
   width: 65vw;
   height: 73vh;
   margin: auto;
   display: none;
   border: 3px solid rgb(255, 255, 255);
   border-radius: 5%;
   background-image: url("images/background.png");
   background-size: cover;
}
#soundBtn {
   width: 80px;
   height: 80px;
   background-image: url("images/sound_on.png");
   background-size: cover;
   background-color: transparent;
   font-family: cursive;
   font-weight: bold;
   cursor: pointer;
   position: absolute;
   left: 18vw;
   bottom: 3vh;
   border: none;
   display: block;
}
#note {
   text-align: center;
   font-family: cursive;
   color: white;
}
#note1 {
   text-align: center;
   font-family: cursive;
   color: white;
   font-size: 15px;
}