<form id="loginForm" method="post">
         <label id="lblUser" for="userInput">Username<br><input class="input" type="text" id="userInput" name="username"
               placeholder="Your name" /></label></br>
         <label id="lblPass" for="passInput">Password<br><input class="input" type="password" id="passInput" name="password"
               placeholder="Your password" /></label></br>
         <input class="noDisplay" type="checkbox" id="chbxConfPass">
         <label id="lblConfPass" for="confPassInput">Confirm Password<br><input class="input" type="password" name="confirm"
               id="confPassInput" placeholder="Confirm here" /></label>
         <br>
         <button type="submit" id="signInBtn" onclick="login()">Sign in</button>
         <button type="button" id="cancelBtn" onclick="cancelLogin()">Cancel</button>
</form>